In [1]:
import pandas as pd
import re
from tqdm import tqdm
import math
import numpy as np
import json
from ast import literal_eval

In [2]:
relation = pd.read_excel("standard.xlsx")
relation.drop("label.id", inplace=True, axis = 1)
father = pd.read_excel("father.xlsx")
father.drop("Unnamed: 0", inplace=True, axis=1)

In [3]:
relation

              label.text c_kinrel  c_kincode c_kinrel_chn type  time
0                     長女      D1H      332.0          長女婿   NP   -30
1                      姑       FZ      331.0           姑母   NP    30
2                     六女      D6H      356.0          六女婿   NP   -30
3                     先妣        M      111.0            母    P    30
4                    五代祖      G-5      397.0          五世祖    P   150
..                   ...      ...        ...          ...  ...   ...
133                   從妗    MFBSW        NaN           從妗   NP    30
134                    姨       MZ      365.0            姨   NP    30
135           二人/wsep/曾孫      SSS      255.0           曾孫    P   -90
136  /wsep/孫男十五人/wsep/曾孫      SSS        NaN          NaN    P   -90
137        孫男若干人/wsep/曾孫      SSS      255.0           曾孫    P   -90

[138 rows x 6 columns]

In [4]:
for index in tqdm(father.index):
    row = father.loc[index]
    kin = row['kin']
    kinrel = relation.loc[relation['label.text'] == kin].iloc[0]['c_kinrel']
    kincode = relation.loc[relation['label.text'] == kin].iloc[0]['c_kincode']
    type = relation.loc[relation['label.text'] == kin].iloc[0]['type']
    time = relation.loc[relation['label.text'] == kin].iloc[0]['time']
    father.loc[index, 'kinrel'] = kinrel
    father.loc[index, 'kincode'] = kincode
    father.loc[index, 'type'] = type
    father.loc[index, 'time'] = time

100%|██████████| 6486/6486 [00:12<00:00, 505.80it/s]

In [5]:
mother = pd.read_excel("mother.xlsx")
mother.drop("Unnamed: 0", inplace=True, axis=1)
for index in tqdm(mother.index):
    row = mother.loc[index]
    kin = row['kin']
    kinrel = relation.loc[relation['label.text'] == kin].iloc[0]['c_kinrel']
    kincode = relation.loc[relation['label.text'] == kin].iloc[0]['c_kincode']
    type = relation.loc[relation['label.text'] == kin].iloc[0]['type']
    time = relation.loc[relation['label.text'] == kin].iloc[0]['time']
    mother.loc[index, 'kinrel'] = kinrel
    mother.loc[index, 'kincode'] = kincode
    mother.loc[index, 'type'] = type
    mother.loc[index, 'time'] = time

100%|██████████| 5843/5843 [00:11<00:00, 504.04it/s]

In [6]:
son = pd.read_excel("son.xlsx")
son.drop("Unnamed: 0", inplace=True, axis=1)
for index in tqdm(son.index):
    row = son.loc[index]
    kin = row['kin']
    kinrel = relation.loc[relation['label.text'] == kin].iloc[0]['c_kinrel']
    kincode = relation.loc[relation['label.text'] == kin].iloc[0]['c_kincode']
    type = relation.loc[relation['label.text'] == kin].iloc[0]['type']
    time = relation.loc[relation['label.text'] == kin].iloc[0]['time']
    son.loc[index, 'kinrel'] = kinrel
    son.loc[index, 'kincode'] = kincode
    son.loc[index, 'type'] = type
    son.loc[index, 'time'] = time

100%|██████████| 4401/4401 [00:08<00:00, 500.07it/s]

In [7]:
daughter = pd.read_excel("daughter.xlsx")
daughter.drop("Unnamed: 0", inplace=True, axis=1)
for index in tqdm(daughter.index):
    row = daughter.loc[index]
    kin = row['kin']
    kinrel = relation.loc[relation['label.text'] == kin].iloc[0]['c_kinrel']
    kincode = relation.loc[relation['label.text'] == kin].iloc[0]['c_kincode']
    type = relation.loc[relation['label.text'] == kin].iloc[0]['type']
    time = relation.loc[relation['label.text'] == kin].iloc[0]['time']
    daughter.loc[index, 'kinrel'] = kinrel
    daughter.loc[index, 'kincode'] = kincode
    daughter.loc[index, 'type'] = type
    daughter.loc[index, 'time'] = time

100%|██████████| 2783/2783 [00:05<00:00, 514.76it/s]

In [8]:
yuefu = pd.read_excel("yuefu.xlsx")
yuefu.drop("Unnamed: 0", inplace=True, axis=1)
yuefu['kinrel'] = "WF"
yuefu['kincode'] = 76
yuefu['type'] = "NP"
yuefu['time'] = 30

In [10]:
father.to_excel("father1.xlsx", encoding='utf8')
mother.to_excel("mother1.xlsx", encoding='utf8')
son.to_excel("son1.xlsx", encoding='utf8')
daughter.to_excel("daughter1.xlsx", encoding='utf8')
yuefu.to_excel("yuefu1.xlsx", encoding='utf8')